header {
    background-color: aqua;
    color: aliceblue;
    font-size: large;
}

.card {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(172, 221, 221);
    color: rgb(68, 68, 68);
}

.card:hover {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
    color: rgb(68, 68, 68);
}

h1 {
    font-size: large;
    background-color: rgb(54, 54, 54);
    color: aliceblue;
}