header {
  background-color: rgb(63, 122, 177);
  color: aliceblue;
  font-size: 3rem;
  padding: 25px;
  width: 100%;
}

img {
  width: 103%;
  height: 200px;
  margin-top: 5px;
}

.card-input {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 25px;
  background-color: rgb(132, 187, 204);
}

.card-weather {
width: 100%;
min-height: 400px;
background-color: rgb(92, 158, 189);
text-align: center;
color: aliceblue;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-upcoming {
  width: 49%;
  height: 300px;
  background-color: rgb(105, 130, 177);
  margin-bottom: 5px;
  text-align: center;
color: aliceblue;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-hourly {
  width: 100%;
  height: 50px;
  background-color: grey;
}

h1 {
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  background-color: bisque;
  color: rgb(27, 27, 27);
}

h2 {
  display: inline-block;  
}

footer {
  margin-top: 50px;
display: inline-block;
}
